@model SecureCarts.Models.TestNikeCom
@{
    ViewBag.Title = "Home Page";
}

<div ng-app="secureCartsApp" ng-controller="secureCartController">

    <form action='\Home\Index' method="post">

        <label for="Url">Url:</label>
        @Html.EditorFor(m => m.Url)

        <input type="submit" value="Test Nike Site" />

    </form>
    
    <div class="col-sm-12">

        @if (Model.ResponseData != null)
        {
            

            <table>
                @foreach (var m in Model.ResponseData.Headers)
                {
                    <tr>
                        <th>@m.Key</th>
                        <td>@m.Value</td>
                    </tr>
                }
                @foreach (var m in Model.ResponseData.Cookies)
                {
                    <tr>
                        <th>Cookie *</th>
                        <td>@m.ToString()</td>
                    </tr>
                }
            </table>



    <div class="col-sm-12" style="height:300px; overflow:auto; ">
        <pre>@Model.ResponseData.Content</pre>
    </div>
        }
    </div>

</div>

@section scripts{    
    @Scripts.Render("~/bundles/secureCartAppJs")    
}